{erl_opts, [debug_info]}.
{deps, [
  {lager, "3.9.2"},
  {rdp_proto, ".*", {git, "https://github.com/eait-itig/rdp_proto", {branch, "master"}}}
]}.
{shell, [
  {config, "config/shell.config"},
  {apps, [rdp_lvgl, lager]}
]}.
{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src -j2"},
   {"(freebsd|openbsd)", compile, "gmake -C c_src -j2"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd|openbsd)", clean, "gmake -C c_src clean"}]}.
{project_plugins, [rebar3_edoc_extensions]}.
