[
    {lager, [
        {handlers, [
            {lager_console_backend, [{level, debug}]},
            {lager_file_backend, [{file, "console.log"}, {level, info}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [{file, "debug.log"}, {level, debug}, {count, 10}]}
        ]},

        {crash_log, "crash.log"},
        {crash_log_date, "$D0"},
        {crash_log_count, 5},

        {error_logger_redirect, true}
    ]},

    {sasl, [
        {sasl_error_logger, false}
    ]}
].
